assertpy==1.1
black==23.12.1
coverage==7.4.0
fastapi==0.109.0
google-cloud-pubsub==2.19.0
google-cloud-tasks==2.15.1
httpx==0.26.0
pydantic==1.10.14
pytest==7.4.4
testcontainers==3.7.1
uvicorn==0.26.0
